.moviebox 
{
    height : 200px;
    width: 320px;
    border-radius: 6px;
    overflow:hidden; 
    transition: all 0.3s ease;
}
.moviebox:hover 
{
    transform: scale(1.01);
}
.movies 
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}