@font-face {
  font-family: helvetica;
  src: url("./font/Helvetica.ttf");
}
* 
{
  margin : 0;
  padding : 0; 
  box-sizing: border-box;
  font-family:  Helvetica, sans-serif , Arial;
}
body 
{
  overflow-x: hidden;
}